@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --navbg: #fbe4cf;
  --pink: #ec1ca7;
  --purple: #4b0673;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--purple);
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: 600;
}

button{
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0 8px 10px rgba(95, 122, 126, 0.22);
  border-radius: 10px;
}

header {
  background-color: var(--navbg);
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 13px 0;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu .active {
  color: var(--pink);
}

.nav-menu a:hover {
  color: var(--pink);
}

/* Hero-Section */
.hero{
  position: relative;
  padding: 100px 0;
}

.hero_container{
  width: 84%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dots{
  display: block;
  position: absolute;
}

.hero-text .hero__para{
  max-width: 600px;
  font-size: 24px;
  color: #4F5665;
}

.hero-text h2{
  font-size: 45px;
  text-transform: uppercase;
}

.hero-btns{
  display: flex;
  align-items: center;
  gap:40px;
  padding-top: 50px;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:11px;
  background-color: var(--purple);
  width: 238px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0 8px 10px rgba(95, 122, 126, 0.22);
  border-radius: 5px;
}

.btn:nth-child(2){
  background-color: var(--pink);
}

.btn:hover{
  background-color: white;
  color: var(--purple);
  padding: 3px 18px;
  border: 2px solid var(--purple);
}

.btn:nth-child(2):hover{
  border: 2px solid var(--pink);
  color: var(--pink);
}

.btn-text p{
  text-align: center;
  font-size: 15px;
}

.btn-text span{
  font-size: 22px;
}


.middle-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(95, 122, 126, 0.22);
  padding: 53px 70px;
  background-color: white;
}

.stats-card{
  margin: 100px auto 20px;
  height: 200px;
  padding: 30px 0;
}

.stats-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding:25px 0;
}

.stats-content:nth-child(2){
  border-left: 2px solid var(--pink);
  border-right: 2px solid var(--pink);
}

.icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-icon{
  height: 55px;
  width: 55px;
  background-color: var(--purple);
  color: white;
}

.stats-details{
  color:#4F5665;
}


/* About */
.about{
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-bottom: 150px;
  min-height: 100vh;
}

.about-text{
  max-width: 480px;
}

.about-text h2{
  font-size: 45px;
  text-transform: capitalize;
}

.text__para{
  color: #4F5665;
  font-size: 22px;
  padding: 20px 0 38px;
}

.about-details{
  padding:0 0 10px 0;
}
.about-content{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
  font-size: 18px;
  color: #4F5665;
}

.about-icon{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.about-link{
  color: var(--pink);
  margin: 0 35px;
  border-radius: 6px;
  font-weight: 700;
  transition: all 0.3s linear;
}

/* Power Fetaures */
.power_features {
  background-color: var(--purple);
  color: white;
  text-align: center;
  padding: 100px 40px;
}

.section_header {
  text-align: center;
  line-height: 20px;
}

.section_header h2 {
  font-size: 30px;
}

.section_header p {
  max-width: 500px;
  margin: 20px auto;
}

.power_cards {
  padding-top: 40px;
}

.card_container {
  width: 75%;
  margin: 0 auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-template-rows: 2;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 40px 20px;
  text-align: left;
}

.card img {
  height: 35px;
}

.card h4 {
  color: var(--purple);
  font-weight: 700;
  padding: 15px 0;
  font-size: 18px;
}

.card p {
  color: #08090a;
  padding: 10px 0;
  font-weight: bold;
}

/* Feedback */
.feedback {
  padding: 100px 0;
  position: relative;
}

.feedback .section_header p {
  color: #4f5665;
  max-width: 330px;
}

.feeback_container {
  display: flex;
  overflow-x: scroll;
  gap: 40px;
  width: 100%;
  margin-bottom: 80px;
}

.feedback_card {
  padding: 25px 20px;
  border: 2px solid;
  width: 400px;
  border-radius: 10px;
}

.card_header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-img {
  height: 50px;
  width: 50px;
  background-color: darkslategray;
  border-radius: 50%;
}

.name, .stats-details .stats-number{
  color: var(--pink);
  font-size: 20px;
}

.location,.stats-details .stats-name{
  font-weight: 400;
}

.card_content {
  color: #0b132a;
  padding-top: 15px;
  line-height: 1.6;
  font-size: 18px;
}

.overflow-section {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.overflow-section button {
  padding: 15px 30px;
  font-weight: 700;
  width: 250px;
  font-size: 18px;
  background-color: var(--pink);
  transition: background-color 0.2s ease-in-out;
}

.overflow-section button:hover {
  border: 2px solid var(--pink);
  padding: 13px 28px;
  color: var(--pink);
  background-color: white;
}

.overflow-details {
  padding: 0 62px;
}

.overflow-details h2 {
  padding-bottom: 15px;
}

.overflow-details p {
  color: #4f5665;
}


/* Footer */


footer {
  background-color: var(--purple);
  color: white;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 225px 150px 80px;
  z-index: -1;
}

.grid-item p {
  padding: 18px 0 30px;
  max-width: 400px;
}

.grid-item .sm-icons {
  padding: 5px 0;
}

.grid-item-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item-2 h3 {
  font-size: 24px;
  padding-bottom: 5px;
}

.grid-item-2 div {
  padding: 10px 0;
}

.grid-item-2 a {
  color: white;
}

.grid-item-2 a:hover {
  color: var(--pink);
}

.sm-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-icon{
  height: 34px;
  width: 34px;
  background-color: white;
  color: var(--pink);
  transition: all 0.2s ease;
}

.footer-icon:hover{
  background-color: var(--pink);
  color: white;
}

nav .bx{
  display: none;
  visibility: hidden;
}
/* Responsiveness for Mobile */

@media only screen and (max-width:650px){
  .nav-menu{
    flex-direction: column;
    width: 100%;
    display:none;
    height: 100vh;
    gap: 50px;
    margin-top: 50px;
    padding-top: 50px;

    position: fixed;
    top:0;
    bottom: 0;
    left: 100%;
    right: 0;
    z-index: 2;
    background-color: #fbe4cf;
    transition: 0.4s;
  }

  .nav-menu li{
    width: 100%;
    text-align: center;
  }

  .nav-menu a{
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  nav .bx{
    display: block;
    cursor: pointer;
    visibility: visible;
  }

  #close{
    display: none;
  }

  .hero{
    padding: 100px 25px 0;
  }

  .hero_container{
    width: 100%;
    flex-direction: column;
  }

  .dots{
    display: none;
  }
  
  .hero-text{
    width:100%;
    text-align: center;
  }
  .hero-text h2,.about-text h2{
    font-size :30px;
  }
  .hero-text .hero__para,.about-text .text__para{
    font-size: 18px;
  }
  .about-img img{
    width: 420px;
    height: 494px;
  }
  .hero-img,.about-img{
    transform: scale(0.7);
  }

  .middle-card{
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 15px;
  }
  .stats-card{
    margin: 30px 0 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .stats-content{
    justify-content: start;
    width: 45%;
    margin: 0 auto;
  }
  .stats-content:nth-child(2){
    border: none;
  }

  .hero-btns{
    flex-direction: column;
  }

  .about{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px 50px;
  }

  .about-details{
    padding:0 25px 10px;
  }

  .feeback_container,footer,.grid-item-2,.grid-item{
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
  }

  .feeback_container{
    overflow: hidden;
  }

  .feedback_card {
    width: 100%;
  }

  .card_container{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-left:0px;
    padding-right:0px;
  }

  .overflow-details{
    padding: 0;
  }

  .overflow-section{
    position: relative;
    width: 100%;
    text-align: center;
    box-shadow: none;
  }
}