@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
:root{
    --navbg:#FBE4CF;
    --pink:#EC1CA7;
    --purple:#4B0673;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    color: var(--purple);
}

a{
    text-decoration: none;
    font-weight: 600;
}

header{
    background-color: var(--navbg);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto; 
    padding: 13px 0 ;
}

.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:40px;
}

.nav-menu .active{
    color: var(--pink);
}

.nav-menu a:hover{
    color: var(--pink);
}

/* Power Fetaures */
.power_features{
    background-color: var(--purple);
    color: white;
    text-align: center;
    padding:100px 40px;
}

.section_header{
    text-align: center;
    line-height: 20px;
}
.section_header h2{
    font-size: 30px;
}
.section_header p{
    max-width: 500px;
    margin:20px auto;
}
.power_cards{
    padding-top: 40px;
}

.card_container{
    width: 75%;
    margin: 0 auto;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    grid-template-rows: 2;
}

.card{
    background-color: white;
    border-radius: 9px;
    padding: 40px 20px;
    text-align: left;
}

.card img{
    height: 35px;
}

.card h4{
    color: var(--purple);
    font-weight: 700;
    padding: 15px 0;
    font-size: 18px;
}

.card p{
    color: black;
    padding: 10px 0;
    font-weight: bold;
}

/* Feedback */
.feedback{
    padding:100px 0;
}

.feedback .section_header p {
    color: grey;
    max-width: 330px;
}

.feeback_container{
    display: flex;
    overflow: auto;
}

.feedback_card{
    padding: 25px 30px;
    border: 2px solid ;
    width: 400px;
}

.card_header{
    display: flex;
}

.card-img{
    height: 50px;
    width: 50px;
    background-color: darkslategray;
    border-radius: 50%;
}